IPL 2025 Data Pre Processing

Converting all JSON files to CSV files and making relationships between the data's.

In [1]:
import pandas as pd
import json

1.Team Match Result Pre Processing

In [15]:
with open('ipl_2025_json_files/ipl_2025_team_match_results.json') as f:
    data = json.load(f)

df_match = pd.DataFrame(data)
df_match.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Punjab Kings,RCB,RCB,6 runs,Ahmedabad,"Jun 3, 2025",Twenty20
1,MI,Punjab Kings,Punjab Kings,5 wickets,Ahmedabad,"Jun 1, 2025",Twenty20
2,GT,MI,MI,20 runs,New Chandigarh,"May 30, 2025",Twenty20
3,Punjab Kings,RCB,RCB,8 wickets,New Chandigarh,"May 29, 2025",Twenty20
4,LSG,RCB,RCB,6 wickets,Lucknow,"May 27, 2025",Twenty20

In [19]:
df_match.replace('Punjab Kings', 'PKBS', inplace = True)
df_match.head()

  Team 1 Team 2 Winner     Margin          Ground    Match Date Scorecard
0   PKBS    RCB    RCB     6 runs       Ahmedabad   Jun 3, 2025  Twenty20
1     MI   PKBS   PKBS  5 wickets       Ahmedabad   Jun 1, 2025  Twenty20
2     GT     MI     MI    20 runs  New Chandigarh  May 30, 2025  Twenty20
3   PKBS    RCB    RCB  8 wickets  New Chandigarh  May 29, 2025  Twenty20
4    LSG    RCB    RCB  6 wickets         Lucknow  May 27, 2025  Twenty20

In [31]:
num = 74
for index, row in df_match.iterrows():
    df_match.at[index, 'Scorecard'] = num
    num -= 1
df_match.rename({'Scorecard': 'Match Number'}, axis = 1, inplace = True)
df_match.head()

  Team 1 Team 2 Winner     Margin          Ground    Match Date  Match Number
0   PKBS    RCB    RCB     6 runs       Ahmedabad   Jun 3, 2025          74.0
1     MI   PKBS   PKBS  5 wickets       Ahmedabad   Jun 1, 2025          73.0
2     GT     MI     MI    20 runs  New Chandigarh  May 30, 2025          72.0
3   PKBS    RCB    RCB  8 wickets  New Chandigarh  May 29, 2025          71.0
4    LSG    RCB    RCB  6 wickets         Lucknow  May 27, 2025          70.0

In [49]:
df_match['Match Number'] = df_match['Match Number'].astype(int)
df_match.head()

  Team 1 Team 2 Winner     Margin          Ground    Match Date  Match Number
0   PKBS    RCB    RCB     6 runs       Ahmedabad   Jun 3, 2025            74
1     MI   PKBS   PKBS  5 wickets       Ahmedabad   Jun 1, 2025            73
2     GT     MI     MI    20 runs  New Chandigarh  May 30, 2025            72
3   PKBS    RCB    RCB  8 wickets  New Chandigarh  May 29, 2025            71
4    LSG    RCB    RCB  6 wickets         Lucknow  May 27, 2025            70

In [50]:
df_match.to_csv('ipl_2025_csv_files/match_results_ipl_2025.csv', index = False)